/* home page styles */
#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

/* home section styles */

.categories-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  #categories-list {
    display: flex;
  }

  p,
  li {
    margin: 0;
    color: $color-main;
    font-size: 14px;
    letter-spacing: $letter-spacing;
    display: inline;
    padding: 0 5px;
  }

  ul {
    list-style-type: none;
    padding: 0px;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    color: $color-logo;
  }

  .selected {
    color: $color-logo;
  }
}

.song-description p {
  padding: 0 20px;
}

/* subscribe section styles */

.subscribe__wrapper {
  background-image: url('/images/subscribe.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 650px;
  width: 100%;

  .subscribe__title {
    color: $color-main;
    position: absolute;
    width: 100%;
    transform: translateY(-326px);

    span {
      font-weight: $font-black;
    }
  }
}

.album-wrapper {
  align-items: center;
  width: 80%;
  padding: 0 50px;

  .author-box {
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-end;
  }

  .description-box {
    text-align: end;
    padding: 30px 0;

    p {
      margin: 0;
      color: $color-main;
      font-size: 2vw;
      letter-spacing: $letter-spacing;
    }
  }
}

.author-album {
  padding: 0 20px;

  .artist-picture {
    width: 300px;
    border-radius: $border-radius;
    box-shadow: 15px 15px 20px 5px $color-bg;
  }
}

.author-name {
  color: $color-main;
  line-height: 1;
  position: absolute;
  right: 185px;
  bottom: 40px;
  width: 340px;

  .firstname {
    text-align: left;
  }

  .lastname {
    text-align: right;
  }

  .firstname,
  .lastname {
    margin: 0;
    font-size: 4.5em;
    letter-spacing: 0.2em;
    margin: 0;
    font-weight: $font-black;

    span {
      color: $color-logo;
      margin: 0;
    }
  }
}

.subscribe__wrapper .btn {
  min-width: 160px;
  padding: 16px;
  font-size: 24px;
  font-weight: $font-bold;
  font-family: $font-text;
  letter-spacing: $letter-spacing;
}
