/* home page styles */
#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.song-description p {
  padding: 0 20px;
}

/* subscribe section styles */

.subscribe__wrapper {
  background-image: url('/images/subscribe.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // max-height: 600px;
  height: 100vh;
  width: 100%;

  .subscribe__title {
    color: $color-logo;
    position: absolute;
    width: 100%;
    transform: translate(0%, -50vh);

    span {
      font-weight: $font-black;
    }
  }
}

.album-wrapper {
  align-items: center;
  width: 80%;
  padding: 0 50px;

  .author-box {
    position: relative;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  .description-box {
    text-align: end;
    padding: 30px 0;

    p {
      margin: 0;
      color: $color-logo;
      text-transform: capitalize;
      font-size: 2vw;
      letter-spacing: 0.17em;
    }
  }
}

.author-album {
  padding: 0 20px;

  .artist-picture {
    width: 300px;
    border-radius: $border-radius;
    box-shadow: 15px 15px 20px 5px $color-bg;
  }
}

.author-name {
  color: $color-logo;
  text-align: left;
  line-height: 1;
  position: absolute;
  right: 165px;
  bottom: 40px;

  .firstname,
  .lastname {
    margin: 0;
    font-size: 4.5em;
    letter-spacing: 0.2em;
    margin: 0;
    font-weight: $font-black;

    span {
      color: $color-btn;
      margin: 0;
    }
  }
}

.subscribe__wrapper .btn {
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  font-size: 24px;
  font-weight: $font-bold;
  font-family: $font-text;
  letter-spacing: $letter-spacing;
}
