/* search page styles */
#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

input {
  font-size: inherit;
}

.form-control:focus {
  border-color: $color-logo;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(207, 56, 61, 0.301);
}

.hidden {
  display: none;
}

.search-wrapper {
  .btn {
    letter-spacing: $letter-spacing;
  }

  h3 {
    font-size: 3vw;
  }

  > p {
    margin: 0;
    color: $color-main;
    font-size: 1.5vw;
    letter-spacing: $letter-spacing;
  }
}
