/* universal global rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  background: $color-bg;
  font-family: $font-text;
  color: $color-light;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
