/* variables */

$color-bg: #131313;
$color-logo: #ffffff;

$color-btn: #cf383e;
$color-light: #bfbfbf;

$font-text: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$border-radius: 5px;
