/* universal classes for headings, titles ... */

.h1 {
  // font-family: ;
  font-size: 26px;
  // font-weight: ;
  text-transform: uppercase;
}

.h2 {
  // font-family: ;
  font-size: 14px;
  // font-weight: ;
  text-transform: uppercase;
}
